<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="unicore.accesslog.mapper.AccessLogMapper">

    <insert id="insert" parameterType="unicore.accesslog.model.AccessLog">
        INSERT INTO COMMON.access_log (
            username, access_time, ip_address, user_agent,
            request_uri, http_method, response_status, login_success
        ) VALUES (
             #{username}, #{accessTime}, #{ipAddress}, #{userAgent},
             #{requestUri}, #{httpMethod}, #{responseStatus}, #{loginSuccess}
        )
    </insert>

    <select id="findAll" resultType="unicore.accesslog.model.AccessLog">
        SELECT
            id,
            username,
            access_time AS accessTime,
            ip_address AS ipAddress,
            user_agent AS userAgent,
            request_uri AS requestUri,
            http_method AS httpMethod,
            response_status AS responseStatus,
            login_success AS loginSuccess
        FROM COMMON.access_log
        ORDER BY access_time DESC
    </select>


</mapper>